/* basic styles for real estate site */

/*nav Style*/

* {
	box-sizing: border-box;
}

body {
	font-weight: 400;
	font-family: "Krub", arial, sans serif;
	background-color: #f2d1b5;
	color: #333;
	font-size: 14px;
	
}

html {
	scroll-behavior: smooth;
}

html, body {
	position: relative;
	min-height: 100vh;

}

header {
	position: relative;
	z-index: 2;
}


.fullWrap {
	padding-bottom: 33px;
}


main {
 	display: block;
 	position: relative;
}

ul.topNav {
	display: flex;
	justify-content:flex-end;
	padding-left: 0px;
	padding-right: 15px;
	margin: 0px;
}

ul.topLeft {
	justify-content: flex-start;
	margin: 0px;
	padding-left: 15px;
}


li.logo {
	padding-top: 0px;
	font-family: coquette, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 28px;
	text-decoration: none;
	margin-top: 0px;
}

.logo {font-family: coquette, sans-serif;}


nav {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	height: 36px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #F5DFCC;
}


nav li {
	list-style-type: none;
	display: inline-block;
	padding: 9px 15px 9px 15px;
	margin-top: 4px;
}

.menuOpen, .menuClose {
	color: color: rgb(0, 3, 51);
}

.onPage {
	background-color: rgba(255,255,255,.3);
	border-top-right-radius: 10px; 
	border-top-left-radius: 10px;
	height: 28px;
	/*box-shadow: -.25px -.25px .5px #888;*/

}



a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #bf631c;
	transition: color .5s;
}


a:visted {
	color: #333;
}

a:active {
	color: #333;
}

a.inlineLink {
	text-decoration: underline;
}

.short {
	display: none;
	font-size: .9em;
}

.menuOpen {
	display: none;

}

.menuClose {
	display: inline;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 6px;	
	margin-right: 15px;
	font-size: 25px;
	}

/*hidden menu styles */

nav#mainMenu {
	padding: 0;
	min-height: 100%;
	background-color: rgb(191,99,28);
	overflow-y: scroll;
}


#mainMenu {
	display: block;
	position: fixed;
	top:0;
	width: 0;
	margin: 0;
	z-index: 5;

}

#mainMenu ul {
	padding: 0;
	margin: 0;
	padding-top: 40px;
}


#mainMenu li a {
	display: block;
	width: 100%;
	color: #f2d1b5;
	font-weight: 600;
	text-align: right;
	margin: 0;
	padding: 30px 10px 30px 0;
	cursor: pointer;
}

#mainMenu li {
	min-width: 100%;
	font-size: 0;
	opacity: 0;
}

#mainMenu li:hover {
	background-color: rgb(214, 115, 39);
}

/*responsive styles */
@media (max-width: 800px) {
    .short { display: inline-block; }
    .full, .menuOpen { display: none;}
}

@media (max-width: 600px) {
	.short, .full, .onPage {display: none;}
	.menuOpen {
		display: inline;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 8px;	
		margin-right: 15px;
		font-size: 20px;
	}

#mainMenu:not(:target) {
	width: 0;
	transition:  width .7s;
}

#mainMenu:not(:target) li{
	opacity: 0;
	transition: all .5s ease;

}

}

/* make nav appear */
#mainMenu:target {
	display: block;
	width: 100%;
	transition:  width .7s;
}

#mainMenu:target li{
	font-size: 6vw;
	opacity: 100%;
	transition: all .5s ease-out .15s;
}



#logo {
	text-decoration: none;
	color: rgb(0, 3, 51);
}

.menuOpen, .menuClose {
	color: rgb(0, 3, 51);
}

.menuOpen:hover, .menuClose:hover {
	transform: rotate(180deg);
	transition: all .5s ease;
}

.menuClose:hover {
	color: #f2d1b5;
	font-size: 40px;
}

.menuOpen:not(:hover), .menuClose:not(:hover) {
	transition: all .5s;
}

#logo:hover {
	color: #bf631c;
	transition: color .5s;
}


.subNav {
	height: 4px;
	background-color: #F8E8DA;
	z-index: 2;
}

.clearFix::after {
  content: "";
  clear: both;
  display: table;
}



/*styles to create landing page feaure */
#background {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	height: 60vw;
  	min-width: 100%;
  	min-height: 100%;
  	z-index: -1;

}


h2.overlay {
	font-size: 10vw;
	padding: 0px;
	font-family: coquette, sans-serif;
	font-style: normal;
	z-index: 1;
	position: absolute;
	top: 60px;
	padding-left: 8vw;
	color: rgba(0, 3, 51, .7);
	
}

/*footer styles*/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0 10px 0;
	background-color: #D89A6B;
	color: rgba(255,255,255, 0.7);
	font-size: 14px;
	font-weight: bold;
	z-index: 2;
}


/* page specific styles */

/* contact style */

.backWrap {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	height: 40vw;
  	min-width: 100%;
  	min-height: 100%;
  	z-index: -1;
  	background-image: url(assets/wheat.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
	opacity: 10%;
}

/*contact styles*/

#contact {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

fieldset {
	border: none;
	display: flex;
	width: 80%;
	padding: 0;
}

form div {
	display: flex;
	text-align: center;
}

input, textarea, select {
	border: 1px solid rgb(0,3,51);
	display: flex;
	align-content: center;
	opacity: 60%;
	font-size: 90%;
	background-color: white;
	margin: 10px;
	padding: 5px;
	flex: 1 1 auto;

}

input:focus, textarea:focus, select:focus {
	outline: .5px solid rgba(0, 3, 51, .1);
	outline-offset: -2px;
	
}

::placeholder {
	color: #cc9266;
}

textarea {
	width: 80%;
	min-height: 150px;
}

select {
	-webkit-appearance: none;
 	-webkit-border-radius: 0px;
	cursor: pointer;
	border-radius: 0px;
	background-image: url(assets/arrow.png);
	background-repeat: no-repeat;
	background-position: 99% 50%;
	color: #bf631c;

}

input[type=button] {
	cursor: pointer;
	color: rgba(255,255,255,.7);
	background-color: #bf631c;
	margin-right: 40%;
	margin-left: 40%;
	border: none;
	justify-content: space-around;
    display: flex;
    text-transform: uppercase;
}

input[type=text]:focus {
}

input[type=button]:hover {
	background-color: #ba5000;
}

input[type=button]:active {
	text-decoration: underline;
}

ul.social {
	display: flex;
	list-style: none;
	justify-content: space-between;
	margin-left: 30%;
	margin-right: 30%;
	align-content: center;
	padding: 0;
}


img {
	height: 60px;
}

.preForm {
	width: 77%;
	margin: 40px auto 0px auto;
	padding: 0px;
}

.preForm h2{
	font-size: 3vw;
}

.social a{
	cursor: pointer;
}

.social a:hover{
	opacity: 50%;
}

/*  styles for a jump to top - not currently implemented

.jump {
	font-size: 10vw;
	color: rgba(191,99,28, .5);
	position: fixed;
	right: 2.5vw;
	bottom: 30px;
}

.jump:hover {
	color: rgba(191,99,28, .7);
}

*/

/*about styles */

main.about {
	display: flex;
	justify-content: space-between;
	padding: 5%;

}

.aboutPage {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	height: 40vw;
  	min-width: 100%;
  	min-height: 100%;
  	z-index: -1;
  	background-image: url(assets/fall.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 30%;
}

div.aboutContent {
	border-radius: 20px;
	background-color: rgba(255,255,255,.5);
	padding: 10px;
}

#logoInline {
	font-family: coquette, sans-serif;
	font-size: 5vw;
	margin-top: 5px;
	font-weight: 900;
	padding-left: 20px;
	color: #000333;

}



/* terms styles */
aside.contentNav {
	height: 100%;
	width: 30%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	/*background-image: url(assets/mill.jpg);*/
}

nav.contentNav {
	height: 100%;
	width: 30%;
	position: fixed;
	z-index: 0;
	padding-top: 40px;
	top: 0;
	left: 0;
	background-color: #F8E8DA;
	/*opacity: 80%;
	box-shadow: inset -10px 0px 15px -4px rgba(53,30,1,0.05);*/
}

.termDocument button {
	position: absolute;
	right: 40px;
	background-color: #F8E8DA;
	outline: none;
	padding: 10px;
	border-radius: 20px; 
	color:#333;
	font-family: "Krub", arial, sans serif;
}

.termDocument button:hover {
	transform: rotate(720deg);
	background-color: #bf631c;
	transition: .5s;

}
*:not(:hover) {
	transition: all .5s;
}
label.print {
	display: none;
}

nav.contentNav ul li {
	padding: 25px 8px;
	display: block;
}



.termDocument {
	margin-left: 30%;
	padding: 3%; 
}

h2 {
	padding: 10px 30px;
	margin: 0;
}


@media (max-width: 600px) {
	ul.contentNav{
		padding-left: 10px;
	}
/*


.sideExpand {
	display: block;
}



@media (max-width: 600px) {
	aside.contents {
		width: 10%;
	}
	ul.contentItems li {
		display: none;
	}

	.sideExpand {
	display: block;
	position: absolute;
	top: 35%;
	left: .5rem;
	z-index: 999;
	}

	input.sideExpand {
	display: block;
	}

	label.sideExpand {
	font-size: 10vw;
	color: rgb(0, 3, 51);
	}
	label.sideExpand:hover {
	color: #bf631c;
	transition: color .5s;
	}


*/


}


