/* basic styles for real estate site */

/*nav Style*/

body {
	font-weight: lighter;
	font-family: "Krub", arial, sans serif;
	background-color: #f1d2b8;
	color: #333;
	min-height: 100%;
}

#homeFoot{
	position: fixed;
	bottom: 0;
}

ul.topNav {
	display: flex;
	justify-content:flex-end;
	padding-left: 0px;
	padding-right: 15px;
	margin: 0px;
}

ul.topLeft {
	justify-content: flex-start;
	margin: 0px;
	padding-left: 15px;
}


li.logo {
	padding-top: 0px;
	font-family: coquette, sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 25px;
	text-decoration: none;

}

nav {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	height: 36px;
	padding-top: 4px;
	background-color: rgba(255,255,255,.3);
}


nav li {
	list-style-type: none;
	display: inline-block;
	padding: 9px 15px 9px 15px;
	margin-top: 4px;
}

.onPage {
	background-color: #f1d2b8;
	border-top-right-radius: 10px; 
	border-top-left-radius: 10px;
}

a.mainNav {
	text-decoration: none;
	color: #333;
}

a.mainNav:hover {
	color: #bf631c;
}


a.mainNav:visted {
	color: #333;
}

a.mainNav:active {
	color: #333;
	text-shadow: .5px .5px .5px #333;
}

.short {
	display: none;
	font-size: .8em;
}

@media (max-width: 750px) {
    .short { display: inline-block; }
    .full { display: none; }
}

#logo {
	text-decoration: none;
	color: rgb(0, 3, 51);
}

.clearFix::after {
  content: "";
  clear: both;
  display: table;
}

/*
.slideshowContainer {
	position: relative;
	margin: auto;
	width: 800px
}

div.slideshowContainer img{
	position: relative;
	width: 800px;
	margin: auto;
}
*/

/*styles to create landing page feaure */
#background {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	height: 60vw;
  	min-width: 100%;
  	min-height: 100%;
  	z-index: -1;

}


h2.overlay {
	font-size: 10vw;
	padding: 0px;
	font-family: coquette, sans-serif;
	font-style: normal;
	z-index: 4;
	position: absolute;
	top: 10%;
	padding-left: 8vw;
	color: rgba(0, 3, 51, .7);
	
}

/*footer styles*/

footer {
	
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0 10px 0;
	background-color: rgba(191,99,28, .2);
	background: linear-gradient(180deg, rgba(199,91,28,.025) 0%, rgba(199,91,28,0.2) 100%);
	color: rgba(255,255,255, 0.7);
	font-size: 12px;
}


/* page specific styles */

/* contact style */

.backWrap {
	position: fixed;
  	left: 0;
  	bottom: 0;
  	height: 40vw;
  	min-width: 100%;
  	min-height: 100%;
  	z-index: -1;
  	background-image: url(assets/wheat.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
	opacity: 10%;
}
 

#contact {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;



}

fieldset {
	border: none;
	display: flex;
	width: 80%;
	padding: 0;
}

form div {
	display: flex;
	text-align: center;
}

input, textarea, select {
	border: 1px solid rgb(0,3,51);
	display: flex;
	align-content: center;
	opacity: 60%;
	font-size: 90%;
	background-color: rgba(255,255,255,.7);
	margin: 10px;
	padding: 5px;
	flex: 1 1 auto;
	box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
	outline: .5px solid rgba(0, 3, 51, .1);
	outline-offset: -2px;
	
}



::placeholder {
	color: #cc9266;
	
}

textarea {
	width: 80%;
	min-height: 150px;
}

select {
	 -webkit-appearance: none;
 	 -webkit-border-radius: 0px;
	cursor: pointer;
	border-radius: 0px;
	background-image: url(assets/arrow.png);
	background-repeat: no-repeat;
	background-position: 99% 50%;
	color: #bf631c;

}

input[type=button] {
	cursor: pointer;
	color: rgba(255,255,255,.7);
	background-color: #bf631c;
	margin-right: 40%;
	margin-left: 40%;
	border: none;
	justify-content: space-around;
    display: flex;
    text-transform: uppercase;
}

input[type=text]:focus {

}

input[type=button]:hover {
	background-color: #ba5000;
}

input[type=button]:active {
	text-decoration: underline;
}

ul.social {
	display: flex;
	list-style: none;
	justify-content: space-between;
	margin-left: 30%;
	margin-right: 30%;
	align-content: center;
	padding: 0;
}


img {
	height: 60px;
}

.preForm {
	width: 75%;
	margin: 40px auto 0px auto;
	padding: 0px 5px;

}

.preForm h2{
	font-size: 3vw;
	

}

